<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock%}</title>
	</head>
	<body>
		<h1>Mi sitio web</h1>
		{%block content%}{%endblock%}

		{% block footer %}
		<hr>
		<p>Gracias por visitar nuestro sitio web</p>
		{% endblock %}
	</body>
</html>