
{% extends "base.html" %}
{% block title %} 
	La fecha actual
{% endblock %}

{% block content %}
	<p>hoy es: {{fechaActual}}</p>
{% endblock %}

{% block footer %}
	este es el footer de la pagina
{% endblock %}
<!-- <!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<title> Fecha actual</title>
	</head>

	<body> -->

		<!-- se incluye la el Header en la pagina con el include-->
		<!-- {% include "includes/HeaderPage.html" %} -->

		<!-- <p>Hoy es: {{fechaActual}}</p> -->
		<!-- <hr> -->
		<!-- <p>Gracias por visitar nuestro sitio Web.</p> -->

		<!-- Se incluye el Footer en la pagina con el include -->
		<!-- {%include "includes/footerPage.html" %} -->
		
		
	<!-- </body>

</html>