<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Pagina</title>
		<link rel="stylesheet" href="estilos.css">
	</head>

	<body>
		<header>
			<h1>{{nombre}}!Jesucristo vive!! :D</h1>
		</header>
		
	</body>
</html>